@model IEnumerable<Domain.Entities.Event>

@{
    ViewBag.Title = "List";
}

@foreach (Domain.Entities.Event eve in Model)
    {
        <div class="item">
            <h3>@eve.Name</h3>
            @eve.Description
        </div>
    }

